* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  background: #61dafb;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
}
